[submodule "lvgl"]
	path = Libs/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Libs/libc"]
	path = Libs/libc
	url = https://github.com/tianocore/edk2-libc.git
[submodule "Libs/libjpeg-turbo"]
	path = Libs/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "Libs/libpng"]
	path = Libs/libpng
	url = https://github.com/pnggroup/libpng
[submodule "Libs/libz"]
	path = Libs/libz
	url = https://github.com/madler/zlib
[submodule "Libs/freetype2"]
	path = Libs/freetype2
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "Libs/ffmpeg"]
	path = Libs/ffmpeg
	url = https://github.com/ffmpeg/ffmpeg.git
