[submodule "lvgl"]
	path = Libs/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "Libs/libc"]
	path = Libs/libc
	url = https://github.com/tianocore/edk2-libc.git
[submodule "Libs/libjpeg-turbo"]
	path = Libs/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "Libs/libpng"]
	path = Libs/libpng
	url = https://github.com/pnggroup/libpng
